   <%- include ('includes/head');%>
   <%- include ('includes/nav');%>
   <div class="container">
    <div class="col-log-8 my-5 text-center">
      <h1 class="text center">Seja bem vindo ao dashboard</h1>
      <p class=" lead text-center"> Para consultar os dados sobre a geração de lixo interaja com os gráficos.</p>
  </div>
  <div class="row align-items-center">
      <div class="col-4">
          <h2>Volume de lixo até junho de 2024</h2>
          <div>
            <canvas id="myChart"></canvas>
          </div>
      </div>

      <div class="col-4">
        <h1 class="lead">Percebe-se que fevereiro houve uma alta na geração de resíduos na nossa metrópole soteropolitana, reduzindo ao longo da chegada do meio do ano.</h1>
      </div>
          <div class="w-100"> <!--faz pular de linha a partir daqui--> 
            <br>
      <div class="col">
        <h1>Gráfico3 Gráfico3</h1>
       </div>
     </div>
  </div>
</div>
   <%- include ('includes/footer')%>