   <%- include ('includes/head');%>
   <%- include ('includes/nav');%>
   <div class="container">
    <div class="col-log-8 my-5 text-center">
      <h1 class="text center">Seja bem vindo ao dashboard</h1>
      <p class=" lead text-center"> Para consultar os dados sobre a geração de lixo interaja com os gráficos.</p>
  </div>
  <div class="charts">
      <div class="chart">
          <h1>Gráfico1</h1>
      </div>
  </div>
</div>
   <%- include ('includes/footer')%>